version: '3.8'

services:
  db:
    image: mysql:8.0
    restart: always
    env_file:
      - .env
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql

  backend:
    build: .
    restart: always
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      DATABASE_URL: mysql+pymysql://fastapi:fastapi123@db:3306/fastapi_db
    volumes:
      - .:/app
    depends_on:
      - db
  frontend:
    image: node:20-alpine
    working_dir: /app
    volumes:
      - ../web-karts:/app
    ports:
      - "3000:5173"
    command: sh -c "npm install && npm run dev -- --host 0.0.0.0 --port 5173"
    depends_on:
      - backend

volumes:
  mysql-data: